# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Django
*.log
local_settings.py
db.sqlite3
/staticfiles/
media/

# Virtual Environment
venv/
env/
myvenv/

# IDE
.vscode/
.idea/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db
