{% extends 'base.html' %}
{% block title %}เข้าสู่ระบบ | OnGoShop{% endblock %}
{% block content %}
<h1 class="title">เข้าสู่ระบบ</h1>

<form method="POST" action="{% url 'shop:login' %}">
  {% csrf_token %}
  <div class="field">
    <label class="label">ชื่อผู้ใช้</label>
    <div class="control">
      <input type="text" name="username" class="input" required>
    </div>
  </div>

  <div class="field">
    <label class="label">รหัสผ่าน</label>
    <div class="control">
      <input type="password" name="password" class="input" required>
    </div>
  </div>

  <div class="field is-grouped mt-3">
    <div class="control">
      <input type="submit" value="เข้าสู่ระบบ" class="button is-link">
    </div>
    <div class="control">
      <a href="{% url 'shop:register' %}" class="button is-light">สมัครสมาชิก</a>
    </div>
  </div>
</form>
{% endblock %}
