{% extends 'base.html' %}
{% block title %}My Orders | OnGoShop{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">My Orders (คำสั่งซื้อของฉัน)</h1>

    {% if orders %}
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>#{{ order.id }}</td>
            <td>{{ order.created_at|date:"d/m/Y H:i" }}</td>
            <td>{{ order.total_price }} ฿</td>
            <td>{{ order.status }}</td>
            <td>
              <a href="{% url 'shop:my_order_detail' order.id %}" class="button is-small is-info is-light">View</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="notification is-info">คุณยังไม่มีคำสั่งซื้อ</div>
    {% endif %}
  </div>
</section>
{% endblock %}
