{% extends 'base.html' %}
{% block title %}เปลี่ยนรหัสผ่านสำเร็จ{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box has-text-centered">
                    <h1 class="title has-text-success">เปลี่ยนรหัสผ่านสำเร็จ!</h1>
                    <p class="subtitle">รหัสผ่านของคุณถูกเปลี่ยนเรียบร้อยแล้ว</p>
                    <a href="{% url 'shop:profile' %}" class="button is-primary mt-5">กลับไปที่โปรไฟล์</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}